agent:
  station_id: "00000000-0000-0000-0000-000000000001"
  listen: ":8081"
  log_level: info

core:
  websocket_url: "ws://localhost:8080/ws/stations"
  http_url: "http://localhost:8080"
  auth_token: ""
  login: "station_agent"
  password: "station_agent"
  ping_interval_sec: 30
  ping_timeout_sec: 10
  reconnect_min_sec: 1
  reconnect_max_sec: 60
  offline_threshold_sec: 30

schedule_cache:
  db_path: "./data/schedule_cache.db"
  horizon_hours: 48
  cleanup_interval_hours: 1

boarding:
  buffer_db_path: "./data/boarding_buffer.db"
  ticket_cache_db_path: "./data/ticket_cache.db"
  flush_batch_size: 100
  sync_trips_on_connect: true
